---
title: Coding for Managers
---

<!DOCTYPE html>

<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Coding for Managers Book" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Coding for Managers</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
      <header class="inner">
        <h1 id="project_title">Coding for Managers  <iframe src="https://ghbtns.com/github-btn.html?user=andrewljohnson&repo=coding-for-managers&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px" style="position:relative;top:3px"></iframe></h1>
        <h2 id="project_tagline">Learn to Write, Schedule, and Manage Software</h2>
        <iframe src="https://ghbtns.com/github-btn.html?user=andrewljohnson&type=follow&count=true&size=large&branch=gh-pages" frameborder="0" scrolling="0" width="280px" height="29px"></iframe>



      </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        {% assign sortedcats = site.categories | sort %}
        {% for category in sortedcats %}
          <h1 style="text-transform:capitalize;">
            {% assign title = category.first | split:'. ' %}
            {{title[1]}}
          </h1>
          <ul style="list-style-type:none;padding-left:0">
           {% assign sortedArticles = category.last | sort: 'order' %}
            {% for post in sortedArticles %}
            <li>
              <a href="{{ post.url }}">{{ post.title }}</a>
            </li>
            {% endfor %}
          </ul>
        {% endfor %}
      </section>
    </div>

    <!-- FOOTER  -->
     <div id="footer_wrap" class="outer">
      <header class="inner">
        <p>
          by <a href="http://andrewljohnson.com">Andrew L. Johnson
        </p>
      </header>
    </div>

  </body>
</html>